<a href="https://colab.research.google.com/github/Ibrahim-Alkhalil/hello-world/blob/master/Series_and_DataFrame_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series and DataFrame in Python
``

In [5]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [0]:
import pandas as pd

In [15]:
# A Series is a one-dimensional object that can hold any data type such as integers, floats and strings
x = pd.Series([6,3,4,6])
x

0    6
1    3
2    4
3    6
dtype: int64

In [18]:
# the default index will be created with values [0, 1, â€¦ 
# Lets go ahead and define indexes for the data.
x = pd.Series([6,3,4,6], index=[ 'a', 'b', 'c', 'd'])
x

a    6
b    3
c    4
d    6
dtype: int64

In [19]:
#We can lookup the data by referring to its index:

x['c']

4

In [22]:
# One example of a data type is the dictionary.
data = {'abc' : 1, 'def': 2, 'xyz': 3}
pd.Series(data)

abc    1
def    2
xyz    3
dtype: int64

In [23]:
#  the data value gets repeated for each of the indexes defined
x = pd.Series(3, index=['a', 'b', 'c', 'd'])
x

a    3
b    3
c    3
d    3
dtype: int64

In [25]:
dates = pd.date_range('2018-11-3' , '2018-11-7')
dates

DatetimeIndex(['2018-11-03', '2018-11-04', '2018-11-05', '2018-11-06',
               '2018-11-07'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.Series([23, 25, 21, 24, 20], index=dates)

2018-11-03    23
2018-11-04    25
2018-11-05    21
2018-11-06    24
2018-11-07    20
Freq: D, dtype: int64

In [28]:
import numpy as np
dates = pd.date_range( '20181105', periods = 8)
dates

DatetimeIndex(['2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08',
               '2018-11-09', '2018-11-10', '2018-11-11', '2018-11-12'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(8,3), index=dates, columns=list('ABC'))
df

                   A         B         C
2018-11-05 -0.405562  0.204798  0.393835
2018-11-06  2.222646 -0.451135  1.054421
2018-11-07 -0.136080  1.602106 -0.066008
2018-11-08 -0.621729  1.078761  0.432688
2018-11-09 -2.095259 -0.605315  1.212480
2018-11-10 -1.841506 -0.605773  1.391362
2018-11-11  1.972740  0.461868 -0.983287
2018-11-12 -1.949790 -0.177524  0.020849

In [31]:
# view the top and bottom rows of the frame using df.head and df.tail
df.head()
df.tail()

                   A         B         C
2018-11-08 -0.621729  1.078761  0.432688
2018-11-09 -2.095259 -0.605315  1.212480
2018-11-10 -1.841506 -0.605773  1.391362
2018-11-11  1.972740  0.461868 -0.983287
2018-11-12 -1.949790 -0.177524  0.020849

In [32]:
# We can observe a quick statistic summary of our data too:

df.describe()

              A         B         C
count  8.000000  8.000000  8.000000
mean  -0.356817  0.188473  0.432042
std    1.688862  0.816785  0.787263
min   -2.095259 -0.605773 -0.983287
25%   -1.868577 -0.489680 -0.000865
50%   -0.513645  0.013637  0.413261
75%    0.391125  0.616091  1.093935
max    2.222646  1.602106  1.391362

In [33]:
# We can also apply functions to the data like cumulative sum
df.apply(np.cumsum)

                   A         B         C
2018-11-05 -0.405562  0.204798  0.393835
2018-11-06  1.817085 -0.246338  1.448256
2018-11-07  1.681004  1.355768  1.382248
2018-11-08  1.059276  2.434529  1.814936
2018-11-09 -1.035984  1.829214  3.027415
2018-11-10 -2.877490  1.223441  4.418778
2018-11-11 -0.904750  1.685309  3.435491
2018-11-12 -2.854540  1.507785  3.456340